/*--------------- Header ---------------*/
header {
    background-color: #1B1E1D;
    height: 70px;
    margin: 0;
    width: 100%;
    padding: 0;
    }

/*--------------- Mid Section ---------------*/
.mid-section img {
    width: 100%;
    object-fit: cover;
    display: block;

}

/*--------------- Footer ---------------*/
.footer {
    background-color: #1B1E1D;
    height: 200px;
    margin: 0;
    }

/*--------------- Mediaa Quaries ---------------*/





