/*--------------- Header ---------------*/
.header {
    background-color: #1B1E1D;
    height: 60px;
    }

/*--------------- Mid Section ---------------*/
.mid-section {
    background-image: url(assets/images/nz-panorama.png);
}
/*--------------- Footer ---------------*/

/*--------------- Mediaa Quaries ---------------*/





